<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Flaskr</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='st.css' )}}">
    </head>

    <body>
        <div class="page">
            <h1>Flaskr</h1>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
